.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttonShowHide {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
